@using LearnLanguages.Mvc4;

@{
  ViewBag.Title = @Mvc4Resources.TitleHomePage;
}

@*<!--<h2>@ViewBag.Message</h2>-->*@

  <p>This is the Mobile Home Page</p>

@*<ul data-role="listview" data-inset="true">
    <!--<li data-role="list-divider">This is a list divider, whatever that means</li>-->
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
</ul>*@

<div style="border:2px dotted red">
   <input type="range" name="slider" id="slider-0" value="25" min="0" max="100" />
  <a href="#" data-role="button" data-icon="star" data-iconpos="left" data-theme="a">Just a button with a star</a>
  <a href="#" data-role="button" data-icon="" data-iconpos="left" data-theme="a">Just a button with a star</a>

</div>


