@using LearnLanguages.Mvc4;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <meta name="viewport" content="width=device-width" />
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/mobileCss", "~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
      
      <div><p>Hi. Please wait while the mobile page loads...hmmm...have Faith...it WILL load!</p> </div>

      <!--Page-->
      <div data-role="page" data-theme="e">
      
        <!--Header-->      
        <div data-role="header">
          @if (IsSectionDefined("Header")) {
              @RenderSection("Header")
          } else {
              <h1>@ViewBag.Title</h1>
              @Html.Partial("_LoginPartial")
          }
        </div>
          
        <!--Content-->
        <div data-role="content">
          @RenderBody()
        </div>

        <!--Navigation-->
        <div>
          @Html.Partial("_NavPartial")
        </div>        
      </div>

      @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
      @RenderSection("scripts", required: false)
      
    </body>
  </html>