@using LearnLanguages.Mvc4;

@if (ViewBag.Title != @Mvc4Resources.TitleLoginPage)
{
  <ul data-role="listview" data-inset="true" style="list-style:none" onclick: "AttachAccordion()">
    <!--<li data-role="list-divider">This is a list divider, whatever that means</li>-->
  
    @if (ViewBag.Title != @Mvc4Resources.TitleHomePage) {
      <li>@Html.ActionLink(@Mvc4Resources.LinkTextHomePage, @Mvc4Resources.ActionNameHome, @Mvc4Resources.ControllerNameHome)</li> 
    }

    @if (ViewBag.Title != @Mvc4Resources.TitleVisionPage){
      <li>@Html.ActionLink(@Mvc4Resources.LinkTextVisionPage, 
                           @Mvc4Resources.ActionNameVision, 
                           @Mvc4Resources.ControllerNameHome)</li> 
    }
      

    @if (ViewBag.Title != @Mvc4Resources.TitleSLAppPage) {
      <li>@Html.ActionLink(@Mvc4Resources.LinkTextSLAppPage, @Mvc4Resources.ActionNameSilverlightApp, @Mvc4Resources.ControllerNameSilverlightApp)</li> 
    }

    @if (ViewBag.Title != @Mvc4Resources.TitleAboutPage) {
      <li>@Html.ActionLink(@Mvc4Resources.LinkTextAboutPage, @Mvc4Resources.ActionNameAbout, @Mvc4Resources.ControllerNameHome)</li> 
    }

    @if (ViewBag.Title != @Mvc4Resources.TitleContactPage) {
      <li>@Html.ActionLink(@Mvc4Resources.LinkTextContactPage, @Mvc4Resources.ActionNameContact, @Mvc4Resources.ControllerNameHome)</li> 
    }
  
  </ul>
}
